/* 2020Work */
.Work2020 .title { 
  margin: 150px 100px 0;
  height: 220px; /* Title 높이 250 */
  /* background-color: orange; */
  /* border : solid red 3px; */
}
.Work2020 .container {
  /* border: solid pink 3px; */
  height: 400px;
  /* background-color: royalblue; */
  margin: 0 100px;
}
.Work2020 .container .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: tomato; */
  max-width: 1980px;
  min-width: 340px;
  margin: 0 auto 150px;
  padding: 40px 0px;
}
.Work2020 .container .works .work {
  /* work 썸네일 크기 300 x 300px */
  width: 300px;
  height: 300px;
  margin: 35px 18px;
  /* background-color: #fff; */
  overflow: visible;
  border: 2px solid #666;
  box-sizing: border-box;
  transition: .3s;
  text-align: center;
}
.Work2020 .container .works .work:hover {
  transform: scale(1.05);
}
.Work2020 .container .works .work .txt {
  position: absolute;
  margin-left: -150px;
  margin-top: 300px;
  color: #000;
  /* text-shadow: -1px 0 #c7f4da, 0 1px #c7f4da, 1px 0 #c7f4da, 0 -1px #c7f4da; */
  font-size: 16px;
  width : 300px;
  text-align: center;
  font-weight: 600;
  /* border: solid pink 3px; */

}
.Work2020 .container .works .work:hover .txt {
  color: #000;
  /* text-shadow: -1px 0 #bcdb22, 0 1px #bcdb22, 1px 0 #bcdb22, 0 -1px #bcdb22; */
  font-size: 16px;
  font-weight: 600;
}
.Work2020 .container .works .work .image {
  width: 100%;
  height: 100%;
  background-position: center;
}
.Work2020 .container .works .work:nth-child(1) .image { background-image: url("../images/2020/01_300.jpg"); }
.Work2020 .container .works .work:nth-child(2) .image { background-image: url("../images/2020/02_300.png"); }

.Work2020 .container .info {
  background-color: #272727;
  padding: 60px 0 60px 0;
  margin-top: 20px;
  width: calc(100vw - .5%);
  margin-left: calc(-50vw + 50%);
  text-align: center;
  color: #999;
  font-size: 12px;
}