/* Episode */
.Episode .Ep__area {
  height: 5650px;
  background-color: #f6f5f0;
}
.Episode .Ep__area .id {
  position: relative;
  padding-top: 120px;
  margin: 0 390px;
  height: 30px;
  min-width: 1080px;
  background-color: #f6f5f0;
}
.Episode .Ep__area .Ep__content {
  position: relative;
  background-color: #ffffff;
  max-width: 1080px;
  margin: 0 auto;
}
.Episode .Ep__area .Ep__content .story {
  position: relative;
  width: 1080px;
  height: 5380px;
  margin : 0 0 10px;
  left: 50%;
  margin-left: -540px;
}