/* Work_530_750 */
/* 작품이 530x750 이미지 파일일 때 사용 */
.Work .title { 
  margin: -80px 100px 0;
  height: 220px; /* Title 높이 250 */
  /* background-color: orange; */
  /* border : solid red 3px; */
}
.Work .container {
  /* border: solid pink 3px; */
  /* background-color: royalblue; */
  margin: 0 100px;
}
.Work .container .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: tomato; */
  max-width: 1980px;
  min-width: 730px;
  margin: 0 auto;
  padding: 40px 0px;
}
.Work .container .works .work {
  /* 작품(work) 크기 530 x 750px */
  width: 530px;
  height: 750px;
  overflow: visible;
  border: 2px solid #666;
  box-sizing: border-box;
  text-align: center;
}
.Work .container .works .work .txt {
  position: absolute;
  min-width: 950px;
  margin-left: -475px;
  margin-top: 754px;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  /* border: solid pink 3px; */
}
.Work .container .content {
  position: relative;
  text-align: right;
  width: 730px;
  margin : 100px auto 200px;
  /* background-color: aquamarine; */
  /* border: solid purple 3px; */
  font-size: 16px;
}
.Work .container .content .b {
  font-weight: 600;
}
.Work .container .works .work .image {
  width: 100%;
  height: 100%;
  background-position: center;
}
.Work .container .works .work:nth-child(1) .image { background-image: url("../images/2021/01.jpeg"); }

.Work .container .info {
  background-color: #272727;
  padding: 60px 0 60px 0;
  margin-top: 20px;
  width: calc(100vw - .5%);
  margin-left: calc(-50vw + 50%);
  text-align: center;
  color: #999;
  font-size: 12px;
}