/* Episode */
.Episode .Ep__area {
  height: 5000px;
  background-color: #f6f5f0;
}
.Episode .Ep__area .id {
  position: relative;
  padding-top: 200px;
}
.Episode .Ep__area .Ep__content {
  position: relative;
  background-color: #ffffff;
  width: 567px;
  margin: 0 auto;
}
.Episode .Ep__area .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: tomato; */
  max-width: 1920px;
  min-width: 950px;
  margin: 0 auto;
  padding: 45px 0px;
}
.Episode .Ep__area .works .work {
  /* 작품(work) 크기 530 x 750px */
  width: 530px;
  height: 750px;
  overflow: hidden;
  border: 1px solid #666;
  box-sizing: border-box;
  text-align: center;
}
.Episode .Ep__area .works .txt {
  position: absolute;
  width: 750px;
  margin-left: calc (750 / 2)px;
  margin-top: 754px;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  /* border: solid pink 3px; */
}
.Episode .content {
  position: relative;
  text-align: right;
  width: 730px;
  margin : 100px auto 200px;
  /* background-color: aquamarine; */
  /* border: solid purple 3px; */
  font-size: 16px;
}